[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/vk-bootstrap"]
	path = src/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "src/tinygltf"]
	path = src/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "src/MikkTSpace"]
	path = src/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
[submodule "src/xxHash"]
	path = src/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json
[submodule "editor/nativefiledialog-extended"]
	path = editor/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "editor/ImGuizmo"]
	path = editor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "editor/ImViewGuizmo"]
	path = editor/ImViewGuizmo
	url = https://github.com/Ka1serM/ImViewGuizmo
